<h3>{{ 'ReferrersManager_SearchEnginesList'|translate }}</h3>

<p>
    {{ 'ReferrersManager_HostnameWildcardDesc'|translate }}
</p>

<span class="icoAdd" role="addEngine">
    {{ 'ReferrersManager_AddSearchEngine'|translate }}
</span>

<table class="dataTable entityTable">

<thead>
<tr>
    <th>{{ 'General_Name'|translate }}</th>
    <th>{{ 'ReferrersManager_Hostname'|translate }}</th>
    <th>{{ 'ReferrersManager_Parameters'|translate }}</th>
    <th>{{ 'ReferrersManager_BacklinkPattern'|translate }}</th>
    <th>{{ 'ReferrersManager_Charset'|translate }}</th>
    {% if userDefinedSearchEngines|length > 0 %}<th>{% endif %}
</tr>
</thead>
<tbody>
    {% for name,infos in searchEngineInfos %}
        {% for i,url in infos %}
        <tr>
            {% if i == 0 %}
            <td rowspan="{{ infos|length }}">
                <img src="{{ attribute(searchEngineLogos, name) }}">
                {{ name }}
            </td>
            {% endif %}
            <td>{{ url.url }}</td>
            <td title="{{ url.parameters }}">{{ url.parameters|truncate(25) }}</td>
            <td title="{{ url.backlink }}">{{ url.backlink|truncate(25) }}</td>
            <td>{{ url.charset }}</td>
            {% if userDefinedSearchEngines|length > 0 %}
            <td>
                {% if attribute(userDefinedSearchEngines, url.url) is defined %}
                <span class="icoDelete" role="removeEngine" host="{{ url.url }}">
                    {{ 'General_Delete'|translate }}
                </span>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
</tbody>
</table>

<div role="addEngineForm" style="display: none;" class="admin">

    <h2>{{ 'ReferrersManager_AddSearchEngine'|translate }}</h2>
    {{ 'ReferrersManager_ProvideEngineData'|translate }}

    <p>{{ 'ReferrersManager_DuplicateHostnameInfo'|translate }}</p>

    <div role="addEngineError" class="error" style="display: none">{{ 'ReferrersManager_AddEngineError'|translate }}</div>

    <table class="adminTable">
        <tr>
            <td><label for="engineName">{{ 'General_Name'|translate }}*:</label></td>
            <td><input type="text" name="engineName" id="engineName" /></td>
        </tr>
        <tr>
            <td><label for="engineHost">{{ 'ReferrersManager_Hostname'|translate }}*:</label></td>
            <td><input type="text" name="engineHost" id="engineHost" /></td>
        </tr>
        <tr>
            <td><label for="engineParameter">{{ 'ReferrersManager_Parameters'|translate }} {{ 'ReferrersManager_CommaSeparated'|translate }}*:</label></td>
            <td><input type="text" name="engineParameter" id="engineParameter" /></td>
        </tr>
        <tr>
            <td><label for="engineBacklink">{{ 'ReferrersManager_BacklinkPattern'|translate }}:</label></td>
            <td><input type="text" name="engineBacklink" id="engineBacklink" /></td>
        </tr>
        <tr>
            <td><label for="engineCharset">{{ 'ReferrersManager_Charset'|translate }}:</label></td>
            <td><input type="text" name="engineCharset" id="engineCharset" /></td>
        </tr>
    </table>

    <button role="submitAddEngine">{{ 'General_Save'|translate }}</button>
</div>
