
<h3>List of all search engines known to piwik</h3>

<p>
    For region-specific search engines, the URL, "{}.example.com" will match
    any ISO3166-1 alpha2 country code against "{}".  Similarly, "example.{}"
    will match against valid country TLDs, but should be used sparingly to
    avoid false positives.
</p>

<span class="icoAdd" role="addEngine">
    Add new search engine definition
</span>

<table class="dataTable entityTable">

<thead>
<tr>
    <th>{{ 'General_Name'|translate }}</th>
    <th>{{ 'ReferrersManager_Hostname'|translate }}</th>
    <th>Parameter</th>
    <th>Backlink pattern</th>
    <th>Charset</th>
    <th></th>
</tr>
</thead>
<tbody>
    {% for name,infos in searchEngineInfos %}
        {% for i,url in infos %}
        <tr>
            {% if i == 0 %}
            <td rowspan="{{ infos|length }}">
                <img src="{{ attribute(searchEngineLogos, name) }}">
                {{ name }}
            </td>
            {% endif %}
            <td>{{ url.url }}</td>
            <td title="{{ url.parameters }}">{{ url.parameters|truncate(25) }}</td>
            <td title="{{ url.backlink }}">{{ url.backlink|truncate(25) }}</td>
            <td>{{ url.charset }}</td>
            <td>
                {% if attribute(userDefinedSearchEngines, url.url) is defined %}
                <span class="icoDelete" role="removeEngine" host="{{ url.url }}">
                    {{ 'General_Delete'|translate }}
                </span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% endfor %}
</tbody>
</table>

<div role="addEngineForm" style="display: none;">

    <h2>Add new search engine</h2>
    Please provide the data for the search engine.

    <p>Keep in mind that the hostname needs to be unique. A duplicate hostname will overwrite the other.</p>

    <div role="addEngineError" class="error" style="display: none">Error while adding the search engine. Please check your inputs and retry.</div>

    <label for="engineName">{{ 'General_Name'|translate }}:</label><input type="text" name="engineName" id="engineName" />
    <label for="engineHost">{{ 'ReferrersManager_Hostname'|translate }}:</label><input type="text" name="engineHost" id="engineHost" />
    <label for="engineParameter">Parameters (comma seperated):</label><input type="text" name="engineParameter" id="engineParameter" />
    <label for="engineBacklink">Backlink pattern:</label><input type="text" name="engineBacklink" id="engineBacklink" />
    <label for="engineCharset">Charset:</label><input type="text" name="engineCharset" id="engineCharset" />

    <button role="submitAddEngine">{{ 'General_Save'|translate }}</button>
</div>
