{% extends 'admin.twig' %}

{% block content %}
    <h2>{{ 'ReferrersManager_ManageSocialsAndEngines'|translate }}</h2>

    <h3>{{ 'ReferrersManager_CheckUrl'|translate }}</h3>

    <p>{{ 'ReferrersManager_CheckUrlDesc'|translate }}</p>

    <input type="text" name="url" id="urlToCheck" size="50" /> <button id="checkurl">Check</button>

    <p class="detectionresult">{{ 'ReferrersManager_DetectedEngine'|translate }}: <img src="plugins/Referrers/images/searchEngines/xx.png" /><span class="engine"></span>  {{ 'ReferrersManager_DetectedKeywords'|translate }}: <span class="keywords"></span></p>
    <p class="socialresult">{{ 'ReferrersManager_DetectedSocial'|translate }}: <img src="plugins/Referrers/images/socials/xx.png" /><span class="social"></span></p>
    <div id="tabs">
        <ul>
            <li><a href="#searchengineTab">{{ 'ReferrersManager_ManageSearchEngines'|translate }}</a></li>
            <li><a href="#socialTab">{{ 'ReferrersManager_ManageSocials'|translate }}</a></li>
        </ul>
        <div id="searchengineTab">
            {% include "@ReferrersManager/engines.twig" %}
        </div>
        <div id="socialTab">
            {% include "@ReferrersManager/socials.twig" %}
        </div>
    </div>

    <div class="ui-confirm" id="removeDataConfirm">
        <h2>{{ 'ReferrersManager_ConfirmRemove'|translate('<span class="name"></span>')|raw }}</h2>

        <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
        <input role="no" type="button" value="{{ 'General_Cancel'|translate }}"/>
    </div>

{% endblock %}
