<h3>List of all socials known to piwik</h3>

<p>
{% if ownSocialDefinitions %}
    <span> <img src="plugins/Zeitgeist/images/warning.png"> Attention: Piwik's built-in list of social networks is disabled.</span>
    <a href="">Activate Piwik's social network list</a>
{% else %}
    <span>You are using Piwik's built-in social network list.</span>
    <a href="">Disable Piwik's social network list</a>
{% endif %}
</p>

<span class="icoAdd" role="addSocial">
    Add new social network
</span>

<table class="dataTable entityTable">

    <thead>
    <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for name,infos in socialInfos %}
        {% for i,url in infos %}
            <tr>
                {% if i == 0 %}
                    <td rowspan="{{ infos|length }}">
                        <img src="{{ attribute(socialLogos, name) }}">
                        {{ name }}
                    </td>
                {% endif %}
                    <td>{{ url }}</td>
                {% if i == 0 %}
                    <td rowspan="{{ infos|length }}">
                        <span class="icoDelete" role="removeSocial">
                            {{ 'General_Delete'|translate }}
                        </span>
                                <br />
                        <span class="icoEdit" role="editSocial">
                            {{ 'General_Edit'|translate }}
                        </span>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

<form role="addSocialForm" style="display: none;">

    <h2>Add new social network</h2>
        Please provide the data for the new social network.

        <p>Keep in mind that the hostname needs to be unique. A duplicate hostname will overwrite the other.</p>

        <label for="socialName">Name:</label><input type="text" name="socialName" id="socialName" />
        <label for="socialHost">Hostname:</label><input type="text" name="socialHost" id="socialHost" />

        <button role="submitAddSocial">Check</button>
</form>
