<h3>List of all socials known to piwik</h3>

<p>
{% if ownSocialDefinitions %}
    <span> <img src="plugins/Zeitgeist/images/warning.png"> Attention: Piwik's built-in list of social networks is disabled.</span>
    <a href="#socialTab" role="noDefaultSocials" state="0">Activate Piwik's social network list</a>
{% else %}
    <span>You are using Piwik's built-in social network list.</span>
    <a href="#socialTab" role="noDefaultSocials" state="1">Disable Piwik's social network list</a>
{% endif %}
</p>

<span class="icoAdd" role="addSocial">
    {{ 'ReferrersManager_AddSocial'|translate }}
</span>

<table class="dataTable entityTable">

    <thead>
    <tr>
        <th>{{ 'General_Name'|translate }}</th>
        <th>{{ 'ReferrersManager_Hostname'|translate }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for name,infos in socialInfos %}
        {% for i,host in infos %}
            <tr>
                {% if i == 0 %}
                    <td rowspan="{{ infos|length }}">
                        <img src="{{ attribute(socialLogos, name) }}" alt="{{ name }}" />
                        {{ name }}
                    </td>
                {% endif %}
                    <td>{{ host }}</td>
                    <td>
                        {% if attribute(userDefinedSocials, host) is defined %}
                        <span class="icoDelete" role="removeSocial" host="{{ host }}">
                            {{ 'General_Delete'|translate }}
                        </span>
                        {% endif %}
                    </td>
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

<div role="addSocialForm" style="display: none;">

    <h2>{{ 'ReferrersManager_AddSocial'|translate }}</h2>
        Please provide the data for the new social network.

        <p>Keep in mind that the hostname needs to be unique. A duplicate hostname will overwrite the other.</p>

        <div role="addSocialError" class="error" style="display: none">Error while adding the social. Please check your inputs and retry.</div>

        <label for="socialName">{{ 'General_Name'|translate }}:</label><input type="text" name="socialName" id="socialName" />
        <label for="socialHost">{{ 'ReferrersManager_Hostname'|translate }}:</label><input type="text" name="socialHost" id="socialHost" />

        <button role="submitAddSocial">{{ 'General_Save'|translate }}</button>
</div>
