<h3>List of all socials known to piwik</h3>

<p></p>

<table class="dataTable entityTable">

    <thead>
    <tr>
        <th>Name</th>
        <th>Url</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for name,infos in socialInfos %}
        {% for i,url in infos %}
            <tr>
                {% if i == 0 %}
                    <td rowspan="{{ infos|length }}">
                        <img src="{{ attribute(socialLogos, name) }}">
                        {{ name }}
                    </td>
                {% endif %}
                    <td>{{ url }}</td>
                {% if i == 0 %}
                    <td rowspan="{{ infos|length }}">
                        <span class="link_but icoDelete">
                            {{ 'General_Delete'|translate }}
                        </span>
                                <br />
                        <span class="link_but icoEdit">
                            {{ 'General_Edit'|translate }}
                        </span>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>