<h3>{{ 'ReferrersManager_SocialsList'|translate }}</h3>

{% if ownSocialDefinitions %}
<p class="notification system notification-warning">
    <span>{{ 'ReferrersManager_SocialListDisabled'|translate }}</span>
    <a href="#socialTab" ng-click="setUseDefaultSocials(0)">{{ 'ReferrersManager_EnableSocialList'|translate }}</a>
</p>
{% else %}
<p class="notification system notification-success">
    <span>{{ 'ReferrersManager_UsingDefaultSocials'|translate }}</span>
    <a href="#socialTab" ng-click="setUseDefaultSocials(1)">{{ 'ReferrersManager_DisableSocialList'|translate }}</a>
</p>
{% endif %}

<span class="icoAdd" role="addSocial">
    {{ 'ReferrersManager_AddSocial'|translate }}
</span>
<span class="icoRefresh" ng-click="refreshSocials()">
    {{ 'General_Refresh'|translate }}
</span>

<table piwik-content-table>

    <thead>
    <tr>
        <th>{{ 'General_Name'|translate }}</th>
        <th>{{ 'ReferrersManager_Hostname'|translate }}</th>
        {% if userDefinedSocials|length > 0 %}<th></th>{% endif %}
    </tr>
    </thead>
    <tbody>
    {% for name,infos in socialInfos %}
        {% for i,host in infos %}
            <tr>
                {% if i == 0 %}
                    <td rowspan="{{ infos|length }}">
                        <img src="{{ attribute(socialLogos, name) }}" alt="{{ name }}" />
                        {{ name }}
                    </td>
                {% endif %}
                    <td>{{ host }}</td>
                {% if userDefinedSocials|length > 0 %}
                    <td>
                        {% if attribute(userDefinedSocials, host) is defined %}
                        <span class="icoDelete" role="removeSocial" host="{{ host }}">
                            {{ 'General_Delete'|translate }}
                        </span>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>

<div role="addSocialForm" style="display: none;" class="admin">

    <h2>{{ 'ReferrersManager_AddSocial'|translate }}</h2>
        {{ 'ReferrersManager_ProvideSocialData'|translate }}

    <p>{{ 'ReferrersManager_DuplicateHostnameInfo'|translate }}</p>

    <div role="addSocialError" class="error" style="display: none">{{ 'ReferrersManager_AddSocialError'|translate }}</div>

    <table class="adminTable">
        <tr>
            <td><label for="socialName">{{ 'General_Name'|translate }}*:</label></td>
            <td><input type="text" name="socialName" id="socialName" /></td>
        </tr>
        <tr>
            <td><label for="socialHost">{{ 'ReferrersManager_Hostname'|translate }}*:</label></td>
            <td><input type="text" name="socialHost" id="socialHost" /></td>
        </tr>
    </table>

    <button role="submitAddSocial">{{ 'General_Save'|translate }}</button>
</div>